<div class="card p-2 bg-light" style="width: 18rem">
  <a href="course/{{ course.id }}">
    <img
      class="card-img-top"
      src="https://img.youtube.com/vi/{{ course.movie_id }}/sddefault.jpg"
      alt="Card image cap"
    />
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text">{{ course.description }}</p>
    <p class="card-text">Author: {{ course.author }}</p>

    <!-- Use of href instead of routerLink caused by issues with youtube player instance. In case of routerLink using, the page isn't refreshing which is desired scenario for angular apps, but causes some problems with YT iframe API  -->
    <div class="d-flex justify-content-around align-items-top py-2">
      <button
        class="btn btn-light"
        *ngIf="course.group"
        routerLink="/courses/{{ course.group }}"
      >
        <h2><i class="bi bi-collection-play"></i></h2>
        {{ groupsNames[course.group].title }}
      </button>
      <a href="course/{{ course.id }}" class="btn btn-light">
        <h2><i class="bi bi-play-circle"></i></h2>
      </a>

      <a class="btn btn-light" routerLink="/course/{{ course.id }}/edit">
        <h2><i class="bi bi-pencil-square"></i></h2>
      </a>
      <a class="btn btn-light" (click)="deleteCourse()">
        <h2><i class="bi bi-trash"></i></h2>
      </a>
    </div>
  </div>
</div>
