<div class="container">
  <h2 *ngIf="edited_course; else newCourse">EDIT: {{edited_course.title}}</h2>
<ng-template #newCourse><h2>New course</h2></ng-template>
  <form (ngSubmit)="courseFormSubmit()" #f="ngForm" class="p-3 border border-secondary rounded">
    <div class="row mb-3 ">
      <div class="col-md-12">
        <label for="course_video_link" class="form-label">Video link</label>
      <input type="url" class="form-control" [ngModel]="edited_course?generate_yt_link(edited_course.movie_id):''" name="course_video_link" (change)="videoLinkChanged()"
      placeholder="https://www.youtube.com/watch?v=MbXWrmQW-OE">
      </div>
      
      <div class="col-md-6">
      <label for="course_title" class="form-label">Title</label>
      <input type="text" class="form-control" [ngModel]="edited_course?edited_course.title:''" name="course_title">
      </div>
  
      <div class="col-md-6">
        <label for="course_author" class="form-label">Author</label>
      <input type="text" class="form-control" [ngModel]="edited_course?edited_course.author:''" name="course_author">
      </div>
      
      <div class="col-md-6">
        <label for="course_description" class="form-label">Description</label>
      <input type="text" class="form-control" [ngModel]="edited_course?edited_course.description:''" name="course_description">
      </div>
        
      <div class="col-md-6">
        <label for="assigned_group">Group</label>
      <select class="form-control" ngModel name="assigned_group"  >
        <option [selected] hidden="edited_course.group==undefined">Assign to the group</option>
        <option value="{{null}}">Standalone</option>
        <option *ngFor="let group of groups" value="{{group.id}}" [selected]="edited_course && group.id==edited_course.group">{{group.title}}</option>
        </select>
      </div>
      
      <div class="col-md-6 py-3">
        <img src="https://img.youtube.com/vi/{{img_id}}/sddefault.jpg" style="width: 300px; height: auto;">
      </div>
    </div>
    
    
    
    <button type="submit" class="btn btn-primary">{{edited_course?"Edit course":"Add course"}}</button>
</form>
</div>
