<p>add-edit-group works!</p>
<form (ngSubmit)="groupFormSubmit()" #f="ngForm">
    <label >Group title</label>
    <input type="text" class="form-control" ngModel name="group_title">
    <label >Group description</label>
    <input type="text" class="form-control" ngModel name="group_description">
    <label >Author</label>
    <input type="text" class="form-control" ngModel name="group_author">
    <hr>
    <h2>Assign courses</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Pick</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList">
            <th scope="row"><img src="https://img.youtube.com/vi/{{course.movie_id}}/sddefault.jpg" style="width: 200px;"></th>
            <td>{{course.title}}</td>
            <td>{{course.description}}</td>
            <td>{{course.author}}</td>
            <td><input type="checkbox"
                (change)="pickCourse($event, course)"></td>
          </tr>
        </tbody>
      </table>
    <hr>
    <button type="submit" class="btn-primary">Submit</button>
</form>