<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">{{group.title}}</h5>
      <p class="card-text">{{group.description}}</p>
      <p class="card-text">Author: {{group.author}}</p>
      <p class="card-text">{{video_num}} courses</p>
     
      <div class="d-flex justify-content-around">
        <a href="courses/{{group.id}}" class="btn btn-primary">Open</a>
      
        <button class="btn btn-warning" (click)="deleteGroup()">Delete</button>
        <button class="btn btn-warning" routerLink="/group/{{group.id}}/edit">Edit</button>
      </div>
      
    </div>
  </div>
  
