<div #modal></div>

<div class="card text-dark bg-light p-1" style="max-width: 18rem">
  <div class="card-body">
    <h3 class="card-title">{{ group.title }}</h3>
    <p class="card-text">{{ group.description }}</p>
    <h5 class="card-text"><i class="bi bi-diagram-3"></i> {{ video_num }}</h5>

    <div class="d-flex justify-content-around">
      <a href="courses/{{ group.id }}" class="btn btn-light"
        ><h2><i class="bi bi-collection-play"></i></h2
      ></a>

      <a class="btn btn-light" (click)="deleteGroupeModal()"
        ><h2><i class="bi bi-trash"></i></h2
      ></a>
      <a class="btn btn-light" (click)="createGroupModal({ id: group.id })">
        <h2><i class="bi bi-pencil-square"></i></h2>
      </a>
    </div>
  </div>
</div>
