<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a
    class="navbar-brand brand-font"
    style="text-decoration: none; font-family: Horizon"
    routerLink=""
    >Reelminder</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="courses/" *ngIf="isAuthenticated"
        >My courses <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" routerLink="groups" *ngIf="isAuthenticated"
        >My groups <span class="sr-only">(current)</span></a
      >
    </div>
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLink="auth/auth"
        *ngIf="!isAuthenticated"
        >Sign in</a
      >
      <div class="nav-item dropdown" *ngIf="isAuthenticated">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="#"
        >
          <i class="bi bi-person-circle"></i> {{ username }}
        </a>
        <div
          class="dropdown-menu"
          href="#"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#" (click)="onLogout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
