<div #modal></div>

<div class="container py-3">
  <div class="row">
    <div class="col-md-6">
      <h2>My Groups</h2>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button
        class="btn btn-light border radius"
        (click)="createGroupModal({})"
        title="New Group"
      >
        <h2><i class="bi bi-plus-circle"></i></h2>
      </button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 py-3">
    <div class="col py-4" *ngFor="let group of groupList">
      <app-group-thumbnail
        [group]="group"
        (refreshGroups)="getGroups()"
      ></app-group-thumbnail>
    </div>
  </div>
</div>
