<div
  class="modal fade"
  id="exampleModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light" *ngIf="title">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button
          type="button"
          style="margin-right: 0.3rem"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeMe()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="row m-2" *ngIf="body" style="white-space: pre-line">
            <p>{{ body }}</p>
          </div>
          <div class="row d-flex" *ngIf="body_icone">
            <h1
              class="align-self-center"
              style="font-size: 70px"
              [innerHTML]="body_icone"
            ></h1>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-2" style="margin-right: 1rem">
          <button class="btn btn-light" (click)="confirm()">
            <h1
              [innerHTML]="button_icone"
              *ngIf="button_icone; else confirmationText"
            ></h1>
            <ng-template #confirmationText>{{ confirm_text }}</ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
