.page_container {
  position: relative;
  min-height: 100vh;
}

.content_wrap {
  padding-bottom: 13rem; /* Footer height */
}

.footer {
 
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 13em !important; Footer height */
}
