<div #modal></div>
<div class="row justify-content-center" style="margin-top: 3rem">
  <div class="col-md-6 d-flex justify-content-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 p-2">
          <h2>Change password</h2>
          <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="changePassword()"
            (keydown.enter)="$event.preventDefault()"
            class="m-3"
          >
            <label class="form-label m-1" for="newPasword">New password</label>
            <input
              type="password"
              id="newPasword"
              class="form-control m-1"
              formControlName="new"
            />
            <label class="form-label m-1" for="newPasword2"
              >Confirm new password</label
            >
            <input
              type="password"
              id="newPasword2"
              class="form-control m-1"
              formControlName="new2"
            />
            <label class="form-label m-2">Old password</label>
            <input
              type="password"
              class="form-control m-1"
              formControlName="old"
            />
            <button class="btn btn-primary m-1">Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
