<footer class="text-center text-lg-start text-white bg-dark footer">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <div class="d-flex justify-content-center align-items-center">
        <h5 class="me-3">Leave your feedback!</h5>
      </div>
    </section>
    <!-- Section: CTA -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="mb-4 text-center">
      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/marataj/reelminder"
        role="button"
        ><h3><i class="bi bi-github"></i></h3
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->

  <!-- Copyright -->
</footer>
