<!-- <div class="container p-3"> -->
<div class="home1 mb-5">
  <div
    class="container d-flex align-items-center justify-content-center"
    style="height: 100%"
  >
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1 style="font-size: 600%; font-family: Horizon">Reelminder</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <h3>The YouTube-Based Learning Platform</h3>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-9">
          <h4 style="text-align: center">
            Welcome to
            <span style="font-family: Horizon">Reelminder</span>, , a tool
            designed to make learning from YouTube more effective. Our platform
            helps you capture and organize key insights from videos, making it
            easier to review and build on what you’ve learned.
          </h4>
        </div>
      </div>
      <div
        class="row d-flex justify-content-center mt-5"
        style="margin-top: 5rem"
        *ngIf="!isAuthenticated"
      >
        <div class="col-md-9">
          <h2 style="text-align: center">
            Take advantage of the wealth of knowledge available for free and
            start using it now!
          </h2>
        </div>
      </div>
      <div
        *ngIf="!isAuthenticated"
        class="row d-flex justify-content-center mt-5 mb-5"
      >
        <a routerLink="auth/auth"
          ><button class="btn btn-dark" style="font-size: 200%">
            Sign-up
          </button></a
        >
      </div>
      <div
        *ngIf="isAuthenticated"
        class="row d-flex justify-content-center mt-5 mb-5"
      >
        <a routerLink="courses"
          ><button class="btn btn-dark" style="font-size: 200%">
            Course Library
          </button></a
        >
      </div>
    </div>
  </div>
</div>

<div class="m-5">
  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/note.png')"
      ></div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h2 style="text-align: center">Make Notes with Video References</h2>
        </div>
        <div class="row">
          <p class="feature-text" style="text-align: center">
            Create notes linked to specific moments in videos, making it easy to
            revisit key insights whenever you need them.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/path.png')"
      ></div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h2 style="text-align: center">Organize Your Learning Path</h2>
        </div>
        <div class="row">
          <p class="feature-text" style="text-align: center">
            Group your learning materials by YouTube playlists, topics, or
            channels — all in one place and always accessible.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/free-source.png')"
      ></div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h2 style="text-align: center">Get the Most Out of Free Knowledge</h2>
        </div>
        <div class="row">
          <p class="feature-text" style="text-align: center">
            Learn from YouTube tutorials just like structured courses. Save your
            insights and track your progress effortlessly, making it easy to
            revisit and build on what you've learned.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center position-relative">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/pdf.jpg')"
      ></div>
      <!-- Label Coming Soon -->
      <label class="coming-soon-label">Coming Soon</label>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h2 style="text-align: center">PDF Notes Generator</h2>
        </div>
        <div class="row">
          <p class="feature-text" style="text-align: center">
            Easily convert your course notes into a downloadable, shareable, and
            printable PDF. Keep your key insights organized in one document,
            with each note linking directly to the relevant video moment for
            full context.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center position-relative">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/share.jpg')"
      ></div>
      <!-- Label Coming Soon -->
      <label class="coming-soon-label">Coming Soon</label>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h2 style="text-align: center">Knowledge Sharing</h2>
        </div>
        <div class="row">
          <p class="feature-text" style="text-align: center">
            Share your notes and learning materials with others, making it
            easier to exchange insights and learn together.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center position-relative">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/training.jpg')"
      ></div>
      <!-- Label Coming Soon -->
      <label class="coming-soon-label">Coming Soon</label>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h2 style="text-align: center">Study In Group!</h2>
        </div>
        <div class="row">
          <p class="feature-text" style="text-align: center">
            Collaborate in a shared virtual space with voice chat, making online
            learning more interactive and engaging.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
