<!-- <div class="container p-3"> -->
<div class="home1 mb-5">
  <div
    class="container d-flex align-items-center justify-content-center"
    style="height: 100%"
  >
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1 style="font-size: 600%">
          <strong>Reelminder<i class="bi bi-lightbulb"></i></strong>
        </h1>
      </div>
      <div class="row d-flex justify-content-center">
        <h3>The youtube-based learning center</h3>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-9">
          <h4 style="text-align: center">
            Welcome to
            <strong>Reelminder<i class="bi bi-lightbulb"></i></strong>, the tool
            that is revolutionizing the way you learn from YouTube! Our platform
            allows you to create detailed notes with links to specific moments
            in videos, which makes learning more effective and organized. Take
            advantage of the wealth of knowledge available for free and start
            using it now! Register !
          </h4>
        </div>
      </div>
      <div
        class="row d-flex justify-content-center mt-5"
        style="margin-top: 5rem"
      >
        <div class="col-md-9">
          <h2 style="text-align: center">
            Take advantage of the wealth of knowledge available for free and
            start using it now!
          </h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5 mb-5">
        <button class="btn btn-primary" style="font-size: 200%">Sign-up</button>
      </div>
    </div>
  </div>
</div>

<div class="m-5">
  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/note.png')"
      ></div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h1 style="text-align: center">Make notes with video references</h1>
        </div>
        <div class="row">
          <h2 style="text-align: center">
            Create notes with precise references to the certain moments in the
            movie, which allows you to go back to the direct source of your note
            !
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/path.png')"
      ></div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h1 style="text-align: center">Organize your learning path</h1>
        </div>
        <div class="row">
          <h2 style="text-align: center">
            Group your courses viedeo based on youtube playlist, topics or
            channels. Everything in one place, always accessible!
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div
        class="feature-icon"
        style="background-image: url('../../assets/img/free-source.png')"
      ></div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="grid">
        <div class="row d-flex justify-content-center">
          <h1 style="text-align: center">
            Squeeze 100% from the knowledge available for free!
          </h1>
        </div>
        <div class="row">
          <h2 style="text-align: center">
            Act with the YouTube tutorials as you would with popular course
            services. Now you can easily and interactively save observations and
            progress from courses, allowing you to easily return to previously
            studied materials.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
