<h1>{{course.title}}</h1>
<h2>{{course.description}}</h2>
<a *ngIf="course.group" routerLink="/courses/{{course.group}}">Group: {{course.group}}</a>
<hr>
<button class="btn btn-warning" (click)="deleteCourse()">Delete</button>
<button class="btn btn-warning" routerLink="edit">Edit</button>
<div class="container">
  <div></div>
    <div class="row">
      <div class="col-sm">
          <div class="row">
            <div id="player"></div>
          </div>
          <div id="editor">
           Text editor placeholder
          </div>
          <button class="form-control btn-primary" (click)="addNote()">Add note</button>
      </div>
      <div class="col-sm">
        notatki
        <app-note 
        *ngFor = "let note of notes"
        [note]="note"
        (videoTimeSet)="setVideoTime($event)"
        (refreshNotes)="getNotes()"></app-note>
      </div>
    </div>
  </div>
  