<div #modal></div>
<div class="row pt-3">
  <div class="col-md-6 d-flex justify-content-center">
    <h2>Sign Up</h2>
  </div>
  <div class="col-md-6 d-flex justify-content-center">
    <h2>Sign In</h2>
  </div>
</div>
<div class="row d-flex align-items-center">
  <div class="col-md-6 border-right">
    <app-registration
      (notificationEvent)="registerModal($event)"
    ></app-registration>
  </div>
  <div class="col-md-6">
    <app-login (notificationEvent)="registerModal($event)"></app-login>
  </div>
</div>
